@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background:linear-gradient(#2b1055,#7597de);
}
header
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display:flex;
    justify-content:center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left:20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius:20px;
}
header ul li a:hover , 
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}



section
{
    position: relative;
    width:100%;
    height:100vh;
    padding:100px;

    display: flex;
    justify-content: center;
    text-align: center;
  
    overflow:hidden;
}
section::before
{
    content: " ";
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    background:linear-gradient(
        to top, 
        #1c0522, 
        transparent);
    z-index:100;
}


section img
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    pointer-events: none;
}


#btn
{
    text-decoration:none;
    display:inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background:#fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index:9;
    transform: translateY(150px);
}

.container
{

    width:90%;
    margin:0 auto;
    text-align:center;

}

section h2
{
    font-size:36px;
    font-weight:700;
    margin-bottom:25px;
    color:#fff;
    text-transform: uppercase;
    text-align:center;

}

/*Row 1*/

/*Select Boxes*/
.row-1-dropdownbox
{
    width: 100%;
    margin: 0 auto;
    text-align: center;

    margin: 30px;

    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    
}

.row-1-dropdownbox select
{
    background-color: #fff;
    border:0;
    border-radius:5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}




/*Row 2*/
.row-2-personal-cart
{
    display: flex;
    padding:10px;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
}



/*Personal Info Section*/
.personalinfo
{
    flex:0 0 45%;
    max-width:500px;
    width: 100%;
    left:auto

    margin:20px auto;
    padding:30px;
   
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    
}

.personalinfo h2
{
    font-size:24px;
    font-weight:700;
    margin-bottom:25px;
    color:#fff;
    text-transform: uppercase;
    text-align:center;

}

.personalinfo .form
{
    padding-top: 10px;
    width:100%;
}

.personalinfo .form .inputbox
{
    margin-bottom:15px;
    display:flex;
    align-items: center;
}

.personalinfo .form .inputbox label
{
    width:200px;
    color:black;
    margin-right:10px;
    font-size: 14px;
}

.personalinfo .form .inputbox .input
{
    width:100%;
    outline:none;
    border:1px solid #d5dbd9;
    font-size: 15px;
    padding:8px 10px;
    border-radius: 15px;
    transition: all 0.3 ease;
}


/*Cart*/

.cartsec
{
    flex:1;
    max-width:500px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;

    margin:10px ;
    padding:30px 10px;
    
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    position: relative;
}

.cartsec h2
{
    font-size:24px;
    font-weight:700;
    margin-bottom:25px;
    color:black;
    text-transform: uppercase;
    text-align:center;

}


.cartsec table
{
    vertical-align: middle;

    padding: 10px;
    left: 50px;

    overflow: hidden;

}

.cartsec p
{
    font-size: 24px;
    position: absolute;
    bottom:0;
    right:0;
    text-align: right;
    padding: 20px;
}

.table-label
{
    width:200px;
    color:black;

    padding-right:55px;
    font-size: 14px;

    margin-bottom:15px;
    align-items: center;
    text-align: left;


}


.cartsec table tr td
{
    width:200px;
    color:black;
    margin-right:10px;
    font-size: 14px;

    margin-bottom:15px;
    align-items: center;
    text-align: left;

}






